.promotion {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  padding: 16px;
  margin: 16px 4px;
}

.promoted-builds {
  overflow: hidden;
}

.promoted-builds h2 img {
  margin-right: 4px;
}

.promoted-builds td.history-entry img {
  margin-right: 4px;
}